* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#headerbtn{
  border-radius: 40px;
  background-color: #ffe400;
  font-size: 19px;
}
a{
  text-decoration: none;
}
.log{
  font-size: 19px;
}
nav{
  background-color: #f72210;
}
.newfont{
  font-size: 1.5rem;
}
body{
  background-color: #f4f5f6;
}
#main-section{
  background-color: #fff;
}
.fa-search{
  margin-left: 5px;
}
h6{
  color: #03030366;
}
.biden{
  width: 100%;
}
.round-cir{
  width: 70px;
  height: 70px;
}
.p-title{
  color: #000;
}
.my-co{
   color: #333333;
}
.third-cont{
  width: 95px;
  height: 95px;
}
.inner-line{
  line-height: 1.2;
}
.btn-color{
  background-color: #f72210;
}
.txt-color{
  color: #f72210;
}