#headerbtn{
  border-radius: 40px;
  background-color: #ffe400;
  font-size: 19px;
}
a{
  text-decoration: none;
}
.log{
  font-size: 19px;
}
nav{
  background-color: #f72210;
}

body{
  background-color: #f4f5f6;
}
#main-section{
  background-color: #fff;
}
.fa-search{
  margin-left: 5px;
}
h6{
  color: #03030366;
}
/* #firstcol{
  width: 29%;
} */
.biden{
  width: 100%;
}
 /* #secondcol{
  width: 40%;
} */
/* #thirdcol{
  width: 31%;
}  */
.round-cir{
  width: 70px;
  height: 70px;
}